.SettingItemContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px 15px 25px;
    .Left {
        h5 {
            color: #ffffff;
        }
        h6 {
            color: #8a8a8a;
        }
    }
}