$secondary-container-dark-color: #303030; 
$btn-dark-color: #8a8a8a;

.BottomMenu {
    background-color: $secondary-container-dark-color;
    width: 100%;
    height: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.Btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $btn-dark-color;
    background-position: center;
    transition: background 0.8s;
    background-color: transparent;
    border: none;
    outline:none;
    font-size: 14px;
    &:focus {
        color: #3e84dc;
    }
    &:hover {
        background: $secondary-container-dark-color radial-gradient(circle, transparent 1%, $secondary-container-dark-color 1%) center/15000%;
    }
    &:active {
        background-color: #525252;
        background-size: 100%;
        transition: background 0s;
    }
    .Icon {
        display: block;
        margin-bottom: 5px;
    }
    p {
        margin-bottom: -9px;
    }
}



  
  