.GreenBtn {
    border: none;
    outline:none;
    margin: 0 10px 0 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #33d54e;
    border-radius: 50%;
    width: 55px;
    height: 55px;
}

.Icon {
    display: block;
    margin-bottom: 7px;
}

.RunningTaskContainer {
    height: 75px;
    border-bottom: solid #444444 0.1px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}