.DayContainer {
    margin: 0 0 30px 0;
}

.DayContainerHeadings {
    display: flex;
    justify-content: space-between;
    padding: 0 20px 10px 20px;
}

.DayTitle {
    color: #ffffff;
}

.DayTime {
    color: #ffffff;
}

.SwipeDelete {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    color: #ffffff;
    background-color: #ff3333;
    padding: 0 20px 0 0;
}

.SwipeStart {
    height: 100%;
    display: flex;
    align-items: center;
    width: 100%;
    color: #ffffff;
    background-color: #33d54e;
    padding: 0 0 0 20px;
}