$title-color: #ffffff;
$red-color: #ff3333;
$green-color: #33d54e;

.DayContainer {
    margin: 0 0 30px 0;
}

.DayContainerHeadings {
    display: flex;
    justify-content: space-between;
    padding: 0 20px 10px 20px;
}

.DayTitle {
    color: $title-color;
}

.DayTime {
    color: $title-color;
}

.SwipeDelete {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    color: #ffffff;
    background-color: $red-color;
    padding: 0 20px 0 0;
}

.SwipeStart {
    height: 100%;
    display: flex;
    align-items: center;
    width: 100%;
    color: #ffffff;
    background-color: $green-color;
    padding: 0 0 0 20px;
}