$primary-container-dark-color: #1e1e1e; 

.DetailsContainer {
    position: fixed;
    max-width: 500px;
    width: 100%;
    height: 100%;
    top: 0;
    overflow: hidden;
    background-color: $primary-container-dark-color; 
    transition: all 1s;
    z-index: 10;
}

.DetailsContainer.DetailsClose {
    top: 100%;
    height: 0;
}

.Top {
    display: flex;
    justify-content: space-between;
    padding: 25px;
    margin: 0 0 20px 0;

    .SaveBtn {
        color: #3e84dc;
        background-color: transparent;
        border: none;
        outline:none;
        font-size: 15px;
        margin: 0px;
        padding: 0px;
    }
}

.DescriptionBlock {
    margin: 0 0 20px 0;
    display: flex;
    padding: 0 25px 0 25px;

    input {
        background-color: transparent;
        color: #686868;
        outline: none;
        padding: 10px 0 10px 0;
        border: none;
        font-size: 20px;
        box-sizing: border-box;
        width: 100%;
    }

}

.StaticBlock {
    display: flex;
    justify-content: space-between;
    padding: 25px;

    h6 {
        color: #686868;
    }
}

.OthersContainer {
    padding: 25px;

    .OthersItemBlock {
        display: flex;
        align-items: center;
        padding: 25px 0 25px 0;

        h5.Delete {
            color: #ff3333;
            margin: 0 0 0 25px;
        }
        h5.Project {
            margin: 0 0 0 25px;
            color: #8a8a8a;
        }
        .Icon {
            margin: 0 0 5px 0;
        }
    }
}

.Divider {
    height: 1px;
    background-color: #464646;
}